# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Large assets
assets/*.gltf
assets/*.glb
assets/*.basis
assets/*.ktx2 